.starover-button {
  margin-top: 2.5rem;
}
.infoBlock {
  display: block;
  height: 10rem;
}

.user-won {
  color: green;
}

@keyframes shake {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateY(15px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .shake {
    animation: shake infinite 0.2s alternate;
  }
}
